body {
    background-color: blanchedalmond;
    position: relative;
    left: 45%;
}

.playground {
    display: flex;
    flex-direction: column;
}

.playground_row1 {
    display: flex;
}

.playground_row2 {
    display: flex;
}

.playground_row3 {
    display: flex;
}

.column {
    padding: 10px;
    margin: 2px;
    border: solid rgb(68, 255, 127);
    color: antiquewhite;
}

.column:hover {
    border: solid rgb(0, 134, 42);
}

.logout {
    margin-top: 20px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.room {
    display: flex;
    align-items: center;
    border: solid black;
    width: 8rem;
    justify-content: space-evenly;
}